@media screen and (max-width:20em){
    header h1{
        font-size: 5.5vw;
        justify-content: space-evenly;
    }
    #middle{
        background-position: right;
    }
} 
@media screen and (max-width:31.25em){
    header h1{
        font-size: 5vw;
    }
    nav{
        display:none;
    }
    #HiddenMenu{
        display:block;
        #menu, #menu ul
{
	list-style: none;
	padding: 0 0 26px 0;
	margin: 0;
}
#menu li
{
	float: left;
	margin-right: 3px;
	position: relative;
}
#menu ul
{
	position: absolute;
	top: 25px;
	right: 1px;
	width: 100px;
	padding: 0;
	display: none;
}
#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
    line-height: 15px;
    background-color:#1a1a1c ;
    border: 1px solid #000;
}
#menu a:link, #menu a:visited
{
	display: block;
	font-family: Tahoma;
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #fff;
	padding: 5px;
}
#menu li:hover
{
    background-color:#1f1f20 ;
}
#menu li:hover ul
{
	display: block;
}
        i{
            font-size: 5vw;
        }
    }
    #middle{
        min-height:20em;
    }
    footer .container{
        #magic{
            padding:2%;
            display:block;
            p{text-align: center;}
            font-size: 3vw;
        }
        #icon-flex{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            #botleft, #botright{
                font-size: 5vw;
                width:100%;
                i:hover{
                    color:#c7d2d8;
                }
            }
        }
        }
    } 

@media screen and (max-width:45em){
    #gallery figure{ width:40%;} 
        #flex{
            flex-wrap:nowrap;
    }
}

@media screen and (max-width:51em){

    input::placeholder,textarea,input[type="submit"]{
        font-size: 4vw;
    }
    .avatar p{
        font:{
            size:3vw;
            family:'Arial';
            weight:bold;
        }
    }
    .avatar img{
        max-width:20%;
    }
    #middle .container{ 
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: stretch;
        #mid-relative1 p,#mid-relative2 p{
        border-radius: 0;
        position: static;
        width:90%;
        margin-top: 10%;
    }
    .quotes{
        display: block;
        background-color:#c7d2d8;
        color:#495c6a;
        margin-top: 10%;
        width:90%;
        text-align: center;
        border:1px  solid blue;
        box-shadow:2px 2px #000;
        padding:1%;
        font:{
            size:2vw;
            weight:bold;
            style:italic;
        }
    }
    .quotes.dark{
        background-color:#495c6a;
        color:#c7d2d8;
    }
    }
    form{
        table th,table td{
            font-size: 5vw;
        }
        width:100%;
        input::placeholder,input[type="submit"]{
            font:{
                family:'OdibeeSans-Regular';
                size:4vw;
            }
        }
    }
}
