
@media screen and (max-width:51em){

    input::placeholder,textarea,input[type="submit"]{
        font-size: 4vw;
    }
    .avatar p{
        font:{
            family:'Arial';
            weight:bold;
        }
    }
    .avatar img{
        max-width:20%;
    }
    #middle .container{ 
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: stretch;
        #mid-relative1 p,#mid-relative2 p{
        border-radius: 0;
        position: static;
        width:90%;
        margin-top: 10%;
    }
    .quotes{
        display: block;
        background-color:#c7d2d8;
        color:#495c6a;
        margin-top: 10%;
        width:90%;
        border:1px  solid blue;
        box-shadow:2px 2px #000;
        padding:1%;
        font:{
            size:2vw;
            weight:bold;
            style:italic;
        }
    }
    .quotes.dark{
        background-color:#495c6a;
        color:#c7d2d8;
    }
}
    form,table,input::placeholder,textarea,input[type="submit"]{
        font:{
            family:'OdibeeSans-Regular';
            size:4vw;
        }
    }
    form{
        width:100%;
        input::placeholder,textarea,input[type="submit"]{
            font:{
                family:'OdibeeSans-Regular';
                size:2.5vw;
            }
        }
    }
}
@media screen and (max-width:45em){
    #gallery figure{ width:40%;} 
        #flex{
            flex-wrap:nowrap;
    }
    textarea{
        border-radius: 0;
    }
}
@media screen and (max-width:31.25em){
    header h1{
        font-size: 5vw;
    }
    nav{
        display:none;
    }
    #HiddenMenu{
        display:block;
        i{
            font-size: 5vw;
        }
    }
     footer i{
        font-size: 5vw;
     }
    #middle{
        min-height:20em;
    }
    footer .container{
        #magic{
            padding:2%;
            display:block;
            p{text-align: center;}
            font-size: 3vw;
        }
    } 
}
@media screen and (max-width:20em){
    header h1{
        font-size: 5.5vw;
        justify-content: space-evenly;
    }
    #middle{
        background-position: right;
    }
    #botleft,#botright{
        i:{font-size: 5vw;}
      }
}