@media screen and (max-width: 51em) {
  input::-webkit-input-placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  input:-ms-input-placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  input::-ms-input-placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  input::placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  .avatar p {
    font-family: 'Arial';
    font-weight: bold;
  }
  .avatar img {
    max-width: 20%;
  }
  #middle .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  #middle .container #mid-relative1 p, #middle .container #mid-relative2 p {
    border-radius: 0;
    position: static;
    width: 90%;
    margin-top: 10%;
  }
  #middle .container .quotes {
    display: block;
    background-color: #c7d2d8;
    color: #495c6a;
    margin-top: 10%;
    width: 90%;
    border: 1px  solid blue;
    -webkit-box-shadow: 2px 2px #000;
            box-shadow: 2px 2px #000;
    padding: 1%;
    font-size: 2vw;
    font-weight: bold;
    font-style: italic;
  }
  #middle .container .quotes.dark {
    background-color: #495c6a;
    color: #c7d2d8;
  }
  form, table, input::-webkit-input-placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form, table, input:-ms-input-placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form, table, input::-ms-input-placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form, table, input::placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form {
    width: 100%;
  }
  form input::-webkit-input-placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
  form input:-ms-input-placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
  form input::-ms-input-placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
  form input::placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 45em) {
  #gallery figure {
    width: 40%;
  }
  #flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  textarea {
    border-radius: 0;
  }
}

@media screen and (max-width: 31.25em) {
  header h1 {
    font-size: 5vw;
  }
  nav {
    display: none;
  }
  #HiddenMenu {
    display: block;
  }
  #HiddenMenu i {
    font-size: 5vw;
  }
  footer i {
    font-size: 5vw;
  }
  #middle {
    min-height: 20em;
  }
  footer .container #magic {
    padding: 2%;
    display: block;
    font-size: 3vw;
  }
  footer .container #magic p {
    text-align: center;
  }
}

@media screen and (max-width: 20em) {
  header h1 {
    font-size: 5.5vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #middle {
    background-position: right;
  }
  #botleft, #botright {
    i-font-size: 5vw;
  }
}
/*# sourceMappingURL=responsive.css.map */