@media screen and (max-width:720px){
    #gallery figure{ width:40%;} 
        #flex{
            flex-wrap:nowrap;
    }
}
@media screen and (max-width:480px){
    a,header h1{
        font-size: 2vw;
    }
}
@media screen and (max-width:320px){
    a,header h1{
        font-size: 3vw;
        justify-content: space-evenly;
    }
    #middle{
        background-position: left;
    }
}
@media screen and (max-width:51em){

    input::placeholder,textarea,input[type="submit"]{
        font-size: 4vw;
    }
    .avatar p{
        font:{
            family:'Arial';
            weight:bold;
        }
    }
    .avatar img{
        max-width:20%;
    }
    #middle .container{ 
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: stretch;
        #mid-relative1 p,#mid-relative2 p{
        position: static;
        width:100%;
        margin-top: 30%;
    }}
    form,table,input::placeholder,textarea,input[type="submit"]{
        font:{
            family:'Arial';
            size:4vw;
        }
    }
    form{
        input,textarea{
            border-radius: none;
        }
        width:100%;
        input::placeholder,textarea,input[type="submit"]{
            font:{
                family:'Arial';
                size:2.5vw;
            }
        }
    }
    #botleft i,#botright i{
        font-size: 2vw;
    }
}
@media screen and (max-width:31.25em){
    nav{
        display:none;
    }
    #HiddenMenu{
        display:block;
    }
}