@media screen and (max-width:84em){
    #gallery figure{ width:40%; 
        img{
        width:25%;
        #flex{
            flex-wrap:nowrap;
    }}
}}
@media screen and (max-width:74em){
    a,header h1{
        font-size: 2vw;
    }
}
@media screen and (max-width:64em){
    a,header h1{
        font-size: 1.5vw;
    }
    #middle{
        background-position: center;
    }
}
@media screen and (max-width:51em){
    nav ul,header .container{
        justify-content: space-evenly;
    }
    #botleft, #botright i{
        font-size: 2vw;
    }
}