@font-face {
  font-family: OdibeeSans-Regular;
  src: url(OdibeeSans-Regular.ttf);
}

@font-face {
  font-family: Lacquer-Regular;
  src: url(Lacquer-Regular.ttf);
}

* {
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
}

.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 8;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 8;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

body {
  color: #fff;
  background-color: #1a1a1c;
}

.container {
  width: 95%;
  margin: 0px auto;
}

a, header h1 {
  text-decoration: none;
  color: #fff;
  font-family: OdibeeSans-Regular;
  font-size: 2vw;
}

#HiddenMenu {
  display: none;
}

header h1 {
  font-size: 2vw;
}

#top {
  -webkit-box-shadow: 2px 2px 8px #000;
          box-shadow: 2px 2px 8px #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #1a1a1c;
  z-index: 1;
}

header {
  padding: 2%;
}

nav {
  width: 30%;
}

nav ul {
  list-style-type: none;
}

nav ul, header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-right: 5%;
}

#middle {
  background-image: url("../img/development.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3%;
  position: relative;
  min-height: 40em;
}

#mid-relative1 p, #mid-relative2 p {
  font-size: 2vw;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  border: 1px  solid blue;
  border-radius: 20px 40px;
  padding: 1%;
  -webkit-box-shadow: 2px 2px #000;
          box-shadow: 2px 2px #000;
}

#mid-relative1 p {
  color: #c7d2d8;
  top: 8%;
  left: 66%;
  background-color: #495c6a;
}

#mid-relative2 p {
  color: #495c6a;
  bottom: 10%;
  right: 66%;
  background-color: #c7d2d8;
}

.quotes {
  display: none;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figure div {
  width: 90%;
  padding: 5%;
}

figure div p {
  font-size: 2vw;
  font-family: Lacquer-Regular;
  text-align: center;
}

figure img {
  border: 1px solid blue;
  border-radius: 100%;
}

#gallery header h1 {
  color: #495c6a;
  text-align: center;
}

#gallery #flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#gallery figure {
  margin: 5%;
}

#gallery figure img {
  position: relative;
}

#gallery figure img:hover {
  opacity: 0.7;
}

.avatar {
  padding: 2%;
}

#gallery, #form {
  background-color: #c7d2d8;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #495c6a;
}

form {
  width: 90%;
  padding: 1%;
  font-size: 2vw;
  font-family: Lacquer-Regular;
}

form table {
  margin: 0 auto;
}

form table td {
  padding: 2%;
  text-align: center;
}

form input, form textarea {
  padding: 2%;
  background-color: #c7d2d8;
  border-radius: 20px 40px;
  border: 1px solid blue;
  -webkit-box-shadow: 2px 2px #000;
          box-shadow: 2px 2px #000;
}

form textarea:focus, form input:focus {
  outline: none;
}

form input::-webkit-input-placeholder, form textarea, form input[type="submit"] {
  color: #495c6a;
  font-size: 1vw;
  font-family: Lacquer-Regular;
  text-align: center;
}

form input:-ms-input-placeholder, form textarea, form input[type="submit"] {
  color: #495c6a;
  font-size: 1vw;
  font-family: Lacquer-Regular;
  text-align: center;
}

form input::-ms-input-placeholder, form textarea, form input[type="submit"] {
  color: #495c6a;
  font-size: 1vw;
  font-family: Lacquer-Regular;
  text-align: center;
}

form input::placeholder, form textarea, form input[type="submit"] {
  color: #495c6a;
  font-size: 1vw;
  font-family: Lacquer-Regular;
  text-align: center;
}

form input[type="submit"]:hover {
  background-color: blue;
  color: #fff;
}

footer .container #icon-flex {
  padding: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container #icon-flex #botleft, footer .container #icon-flex #botright {
  text-align: center;
  width: 40%;
}

footer .container #icon-flex #botleft i, footer .container #icon-flex #botright i {
  font-size: 3vw;
  margin: 2%;
}

footer #magic {
  display: none;
}

@media screen and (max-width: 51em) {
  input::-webkit-input-placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  input:-ms-input-placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  input::-ms-input-placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  input::placeholder, textarea, input[type="submit"] {
    font-size: 4vw;
  }
  .avatar p {
    font-family: 'Arial';
    font-weight: bold;
  }
  .avatar img {
    max-width: 20%;
  }
  #middle .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  #middle .container #mid-relative1 p, #middle .container #mid-relative2 p {
    border-radius: 0;
    position: static;
    width: 90%;
    margin-top: 10%;
  }
  #middle .container .quotes {
    display: block;
    background-color: #c7d2d8;
    color: #495c6a;
    margin-top: 10%;
    width: 90%;
    border: 1px  solid blue;
    -webkit-box-shadow: 2px 2px #000;
            box-shadow: 2px 2px #000;
    padding: 1%;
    font-size: 2vw;
    font-weight: bold;
    font-style: italic;
  }
  #middle .container .quotes.dark {
    background-color: #495c6a;
    color: #c7d2d8;
  }
  form, table, input::-webkit-input-placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form, table, input:-ms-input-placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form, table, input::-ms-input-placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form, table, input::placeholder, textarea, input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 4vw;
  }
  form {
    width: 100%;
  }
  form input::-webkit-input-placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
  form input:-ms-input-placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
  form input::-ms-input-placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
  form input::placeholder, form textarea, form input[type="submit"] {
    font-family: 'OdibeeSans-Regular';
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 45em) {
  #gallery figure {
    width: 40%;
  }
  #flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  textarea {
    border-radius: 0;
  }
}

@media screen and (max-width: 31.25em) {
  header h1 {
    font-size: 5vw;
  }
  nav {
    display: none;
  }
  #HiddenMenu {
    display: block;
  }
  #HiddenMenu i {
    font-size: 5vw;
  }
  footer i {
    font-size: 5vw;
  }
  #middle {
    min-height: 20em;
  }
  footer .container #magic {
    padding: 2%;
    display: block;
    font-size: 3vw;
  }
  footer .container #magic p {
    text-align: center;
  }
}

@media screen and (max-width: 20em) {
  header h1 {
    font-size: 5.5vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #middle {
    background-position: right;
  }
  #botleft, #botright {
    i-font-size: 5vw;
  }
}
/*# sourceMappingURL=style.css.map */